// .container {
//   inline-size: 100%;
//   block-size: 100vb;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   gap: 25px;
// }

// .title {
//   font-size: 35px;
// }

// .btn {
//   background: rgb(235, 235, 214);
//   padding: 10px;
//   border-radius: 10px;
// }

// .input {
//     inline-size: 400px;
//     padding: 10px;
//     border: 1px solid black;
//     border-radius: 8px;
// }
