.container {
  display: flex;
  block-size: 100%;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 20px;
  .link {
    color: black;
    transition: all 0.3s ease-in-out;
  }
  .link:hover {
    color: rgb(207, 44, 77);
  }
}
