.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(251, 251, 251);
  cursor: pointer;
}

.likeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: block;
  inline-size: 20px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.4;
  min-height: calc(1.4em * 3);
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-height: 1.3;
  min-height: calc(1.3em * 1);
  font-size: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: 10px;
}
