.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(251, 251, 251);
}

.likeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  display: block;
  inline-size: 20px;
}
