.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.filter {
  display: flex;
  gap: 20px;
  align-items: center;
}

.pages {
  display: flex;
  align-self: center;
  gap: 5px;
  font-size: 15px;
}

.btn {
  background-color: transparent;
}
