.footer {
  text-align: center;
  background: rgb(249, 249, 249);
  padding: 15px 25px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    font-family: inherit;
}

.logo {
  color: rgb(0, 0, 0);
  font-size: 27px;
}
